* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style: none; }

html {
  font-size: 62.5%; }

body {
  background-image: linear-gradient(to right, #e0c3b2, #ece6e3);
  font-family: serif; }

/*Index*/
/*header*/
.centrar-nav {
  display: flex;
  justify-content: space-between;
  align-items: center; }

/*Foto logo*/
nav a img {
  width: 100px;
  position: sticky; }

.navbar2 li a img {
  width: 20px; }

/*Separar nav margen*/
nav {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 20px 0px; }

/*Caracteristicas nav*/
nav ul li {
  display: inline-block;
  padding: 7px 10px;
  margin: 0px 10px;
  font-style: italic;
  font-family: serif;
  font-size: 2rem;
  font-weight: bolder; }

/*Botones nav*/
nav ul li a {
  color: sienna;
  text-decoration: none;
  padding: 7px 10px;
  margin: 0px 10px;
  border: 1px solid saddlebrown;
  background-color: #f1edeb; }

nav ul li a:hover {
  color: #c7a494;
  text-decoration: none;
  padding: 7px 10px;
  margin: 0px 10px;
  border: 1px solid #d4986c; }

/*main*/
main {
  margin-top: 20px;
  text-align: center;
  font-size: 2rem;
  font-family: serif;
  font-weight: normal;
  font-style: italic;
  line-height: 1.6; }

.carousel-item {
  width: 640px;
  height: 360px; }

/*Titulo*/
h1 {
  font-size: 3rem;
  font-family: serif;
  font-weight: lighter;
  color: #9e4700;
  margin: 20px 20px; }

/*Foto debajo del titulo*/
main img {
  width: 300px; }

/*Footer*/
.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center; }

footer a img {
  width: 50px;
  /*margin-left: 200px;*/
  margin-top: 20px; }

/*Texto footer*/
footer p {
  background-color: #f1edeb;
  color: sienna;
  font-size: 2rem;
  font-family: serif;
  text-align: center;
  margin-top: 20px; }

/*Medidas*/
.tabla1 {
  margin: 20px 370px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  table-layout: auto; }

.tabla2 {
  margin: 20px 370px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  table-layout: auto; }

.tabla3 {
  margin: 20px 370px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  table-layout: auto; }

.tabla4 {
  margin: 20px 370px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  table-layout: auto; }

/*Catalogo*/
.catalogoGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  gap: 1rem;
  margin: 100px; }

.catalogoGrid img {
  width: 200px;
  height: 100%;
  object-fit: cover;
  transition: width 2s, height 4s ease-in-out; }

.catalogoGrid img:hover {
  width: 300px;
  height: 300px; }

.catalogoGrid h4 {
  color: sienna; }
