
 /*main*/
 main{
     margin-top: 20px;
     text-align: center;
     font-size: 2rem;
     font-family: serif;
     font-weight: normal;
     font-style: italic;
     line-height: 1.6;
 }

 .carousel-item {
     width: 640px;
     height: 360px;
 }
/*Titulo*/
 h1{
     font-size: 3rem;
     font-family: serif;
     font-weight: lighter;
     color: $titlecolor;
     margin: 20px 20px;
 }
/*Foto debajo del titulo*/
 main img{
     width: 300px;
 }
